@mixin photo {


    &:hover {
        cursor: pointer;
        opacity: 0.5;
        transition: 0.3s;
        color: blue;

    }
}

@mixin hov {
    color: gray;
    cursor: pointer;
    transition: 0.3s;
    
}