@mixin photo {
    flex: 1;
    padding: 30px;
    font-size: 20px;
    text-align: center;

    &:hover {
        cursor: pointer;
        opacity: 0.5;
        transition: 0.3s;
        color: blue;

    }
}

@mixin hov {
    color: gray;
    cursor: pointer;
    transition: 0.3s;
    
}