.mainer {
  background-color: wheat;
}

.mainer .container .header {
  text-align: center;
  font-size: 25px;
  height: 125px;
}

.mainer .container .main {
  width: 70%;
  height: auto;
  margin: auto;
}

.mainer .container .main .flag {
  position: relative;
  text-align: center;
}

.mainer .container .main .flag:hover span {
  display: block;
}

.mainer .container .main .flag span {
  position: absolute;
  z-index: 999;
  left: 49%;
  top: 50%;
  font-size: 2rem;
  display: none;
}

.mainer .container .main .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 20px;
}

.mainer .container .main .list li:hover {
  color: gray;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mainer .container .main .flags {
  width: 100%;
  height: 30em;
  margin-top: 3em;
}

.mainer .container .main .flags:hover {
  opacity: 0.5;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.mainer .container .main .allimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainer .container .main .allimg img {
  width: 250px;
  height: 200px;
}

.mainer .container .main .allimg div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 1rem;
}

.mainer .container .main .allimg div:hover {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: blue;
}

.mainer .container .main .allimg div span {
  margin-top: 0.5rem;
}

.mainer .container .footer {
  width: 70%;
  height: auto;
  margin: auto;
  margin-top: 10px;
}

.mainer .container .footer .allus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}

.mainer .container .footer .allus div {
  text-align: center;
  width: 30%;
}

.mainer .container .footer .allus .contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainer .container .footer .allus .contact #last-child {
  margin-left: 1rem;
}

.mainer .container .footer .allus .contact span {
  position: absolute;
  left: 97px;
  top: -4px;
  font-size: 30px;
}

.mainer .container .footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mainer .container .footer span {
  size: 30em;
}

.mainer .container .footer a {
  font-style: italic;
  color: black;
}

.mainer .container .footer a:hover {
  color: gray;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mainer .container .final {
  text-align: center;
  font-size: 45px;
  height: 125px;
  margin-top: 1em;
  font-weight: bold;
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */